/* Styles pour le conteneur principal */
.lienMemePage {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: #130429;
  border: 2.5px solid #29f5c7; /* Bordure en rouge */
  border-bottom: 5px solid #bdd7e2; /* Bordure en violet en bas */
  box-shadow: 2px 3px #a55b70;
}

.titre {
  width: 100%;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}

.customTab {
  margin-top: 20px !important;
  margin-right: 1px !important;
  width: 2px !important;
  border: solid 1px !important;
  border-radius: 10px !important;
  color: #29f5c7 !important; /* Assurez-vous d'utiliser !important pour forcer la priorité */
  font-size: 14px !important;
}

.container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 2px;
}

/* Styles pour le titre */
.container h1 {
  font-size: 24px;
  text-align: center;
  color: #29f5c7;
}

#WebProject {
  font-size: 20px;
  margin-top: 10;
  color: #f52929 !;
}

/* Styles pour les paragraphes de projet */
.projectdescription p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

/* Styles pour la section des boutons */
.lienMemePage {
  text-align: center;
  margin-top: 20px;
}

/* Styles pour les boutons */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0074d9;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #dde4eb;
}

/* Styles pour les sections de projet */
.projectpage {
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #4f6e80;
}

/* Styles pour les images de projet */
.projectimage {
  flex: 1;
  text-align: center;
}

.projectimage img {
  max-width: 100%;
  height: auto;
}

/* Styles pour la description de projet */
.projectdescription {
  flex: 2;
  padding-left: 20px;
}

.projectdescription h2 {
  color: #29f5c7;
}

/* Styles pour la liste des outils */
.tools {
  display: flex;
}

.toolItem {
  margin-right: 10px;
  background-color: #f0f0f0;
  color: #121414;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Styles pour le bouton "Learn More" */
.button {
  width: 160px;
  background-color: #2d184d;
  color: #8a9492;
  border: solid #29f5c7;
  padding: 0.3rem 0.5rem;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.button:hover {
  background-color: #121414;
  border: solid 2px #29f5c7;
  color: #aab0b6;
}

.button::after {
  content: "→";
  margin-left: 5px;
}

/* Styles spécifiques pour les écrans de largeur inférieure ou égale à 850px */
@media (max-width: 850px) {
  .container h1 {
    font-size: 30px;
  }

  .projectpage {
    display: flex;
    flex-direction: column;
  }

  .projectdescription {
    margin-left: 0px;
  }

  .customTab {
    font-size: 10px !important;
  }
}
